/* 슬라이드 */

.slidecenter {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.slidemain {
  width: 95%;
  height: 600px;
}

.slide {
  width: 100%;
  height: 500px;
}

.slideimgbox {
  margin-top: 1%;
  width: 100%;
  height: 500px;

  overflow: hidden;
  float: left;
  position: relative;
}

.slideimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  object-fit: fill;
  text-align: center;
}

.fig {
  background-color: black;
  color: white;
  padding: 10px;
  z-index: 2;
  opacity: 0.7;
  position: relative;
  margin-top: 455px;
  text-align: center;
}

/* 카카오지도 */

.KakaomapP {
  display: flex;
  width: 90%;
  margin: 10px auto;
}

.Kakaomap {
  border: 1px solid red;
  flex: 1;
  width: 50%;
  margin: 0px 2%;
  box-sizing: border-box;
}

.searchbox {
  border: 1px solid blue;
  flex: 1;
  width: 50%;
  margin: 0px 2%;
  box-sizing: border-box;
}

/* 유튜브 박스 */

.Youtube_title {
  font-size: 32px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: bold;
  flex-direction: column;
  display: flex;
  align-items: center;
  bottom: -20px;
}

.Youtube_title_a {
  content: '';
  width: 350px;
  height: 3px;
  background: linear-gradient(to right, gold, purple);
  position: relative;
  bottom: 50px;
  align-items: center;
  margin: auto;
}

.Youtube_center {
  justify-content: center;
  height: 35vh;
  display: flex;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}

.Youtube_box {
  /* border: 1px solid blue; */
  flex: 1;
  width: 40%;
  margin: 0px 2%;
  box-sizing: border-box;
}

.Youtube_center1 {
  justify-content: center;
  height: 60vh;
  display: flex;
  margin-bottom: 100px;
  margin: auto;
  width: 50%;
  position: relative;
  place-items: center;
  z-index: 1;
  bottom: 5vh;
}

.Youtube_box1 {
  flex: 1;
  height: 50vh;
  margin: 0px 2%;
  box-sizing: border-box;
}

/* introduce 페이지  */

.KakaomapB_intro {
  display: flex;
  margin: 1%;
}

.Kakaomap_intro {
  /* border: 1px solid red; */
  flex: 1;
  /* box-sizing: border-box; */
  margin: 2%;
  border-radius: 8px;
}

.back_to_top {
  background-image: linear-gradient(to right, #fb923c 0%, #8b5cf6 100%);
  background-size: 200% auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  overflow: hidden;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
  border-radius: 0.25rem;
}
